<h1>Top 100 Songs</h1>

<p>
<%= link_to 'New Top 100 Song Addition', new_song_path %>
</p>

<ul>
  <% @songs.each do |song| %>
    <li> 
      <%= link_to song.title, song_path(song) %>
    </li>
  <% end %>
</ul>