<h1>Top 100 Songs</h1>

<p>
<%= link_to 'New Top 100 Song Addition', new_song_path %>
</p>

<div class="ui bulleted list">
<ul>
  <% @songs.each do |song| %>
    <div class="item">
      <%= link_to song.title, song_path(song) %>
    </div>
  <% end %>
</ul>